# MetaData Sources #
####################
.meta*

####################
# Assorted         #
####################
*.history
*.index
*org.eclipse*

####################
# Class Files      #
####################
*.class

